<html>
    <head>
        <title>goplot</title>
        <script src="/public/script/jquery-3.2.0.min.js"></script>
    </head>
    <body>
        <div><img id="graph" src="/public/img.png" /></div>
        <div>
            <input type="text" id="func" width="40" />
            <input type="button" id="plot_button" value="Plot!" />
        </div>
        <div>{{.Message}}</div>
        <p>{{template "inline.html"}}</p>

        <script>
            function oncalc() {
                var func = $('#func').val();
                $('#graph').attr({
                    src: "/plot?steps=400&f=" + encodeURIComponent(func)
                });
            }

            $(document).ready(function() {
                $('#plot_button').click(oncalc)
                $("#func").keyup(function(e) {
                    if (e.keyCode == 13) {
                        oncalc();
                    }
                });
            })
        </script>
    </body>
</html>