<html>
    <head>
        <title>goplot</title>
        <script src="/public/script/jquery-3.2.0.min.js"></script>
    </head>
    <body>
        <div><img id="graph" src="/public/img.png" /></div>
        <div>
            <input type="text" id="func" width="40" />
            <input type="button" onclick="oncalc()" value="Plot!" />
        </div>
        <div>{{.Message}}</div>
        <p>{{template "inline.html"}}</p>
        <script>
            function oncalc() {
                var func = $('#func').val();
                $('#graph').attr({
                    src: "/plot?f=" + encodeURI(func)
                });
            }
        </script>
    </body>
</html>